// Place all the styles related to the public/saunas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.margin-content{
  margin-top:30px;
}

.count{
    padding: 0.5em 1em;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px #4ec4d3;
    border-right: double 7px #4ec4d3;
}

.content{
    margin:5px;
    padding:2em;
    border:dashed 2px #b3ada4;
}