// Place all the styles related to the public/search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sm4{
  text-align:center;
  margin-top:10px;
}

.row{
  margin-top:10px;
}