<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

 <body>
   <div class="container">
       <div class="row">
        <div class="mx-auto">
            <h1>検索にヒットしたサウナ一覧です</h1>
          <table class="table">
            <!--テーブルヘッダ-->
            <thead>
              <tr>
                <th>サウナ名</th>
                <th>いいね数</th>
                <th>レビュー数</th>
                <th>Tag</th>
              </tr>
            </thead>
            <!--部分テンプレートで呼び出し-->
             <%= render partial: 'public/searchs/search_result', locals: { sauna_result: @sauna_result } %>
           </table>
         </div>
       </div>
    </div>
 </body>
 </html>
